.container {
    width: 70%;
    background: #c8cacc;
    margin: auto;
    text-align: center;
    font-size: 1rem;
}


.row {
    width: 100%;
    display: flex;
}

.col {
    width: 11.1111%;
}

button {
    width: 100%;
    color: #3b74ad;
    font-size: .8rem;
}

table {
    width: 100%;
    margin: 20px;
}

thead {
    font-size: 1.5rem;
}

th:nth-child(1) {
    width: 10%;
}

th:nth-child(2) {
    width: 40%;
}

th:nth-child(3) {
    width: 50%;
}

th {
    padding-bottom: 20px;
}

h1 {
    color: teal;
    text-decoration: underline;
    margin-bottom: 30px;
}